.DS_Store
pom.xml
*jar
lib/*
classes/*
out/*
target/*
.lein-deps-sum
.lein-repl-history
.lein-plugins/*
node_modules/*
*.iml
*.ipr
*.iws
app/dev/js/
app/dev/css/
app/dev/node_modules/
app/prod/js/
app/prod/css/
app/prod/node_modules/
figwheel_server.log
