.DS_Store
pom.xml
*jar
lib/*
classes/*
out/*
target/*
.lein-deps-sum
.lein-repl-history
.lein-plugins/*
node_modules/*
*.iml
*.ipr
*.iws
app/dev/js/out/
app/dev/js/extern*.js
app/dev/js/front.js
app/dev/js/cljsbuild-*
app/dev/css/
app/dev/node_modules/
app/prod/js/out/
app/prod/js/extern*.js
app/prod/js/front.js
app/prod/js/cljsbuild-*
app/prod/css/
app/prod/node_modules/
figwheel_server.log
